.Content {
  margin: 0 auto;
  max-width: 250px;

  &__inner {
    background-color: #D3D3D3;
    border: 15px solid grey;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__title {
    font-size: 15px;
    margin-top: 35px;
    text-align: center;
  }

  &__input {
    font-size: 15px;
    height: 25px;
    margin-top: 35px;
    text-align: center;
  }

  &__password {
    height: 25px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

